* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header .top-nav {
  height: 10%;
  font-weight: bold;
  display: flex;
}
header .top-nav .top-container {
  display: flex;
  margin: 0 auto;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}
header .top-nav .top-container nav ul {
  display: flex;
  width: 450px;
  list-style: none;
  justify-content: space-evenly;
}
header .top-nav .top-container nav ul li {
  text-align: center;
}
header .top-nav .top-container .burgir {
  display: none;
}
header .welcome-img {
  height: 100%;
  background: url(images/hero.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-justify: inter-word;
}
header .welcome-img .header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 570px;
  height: 230px;
  text-align: center;
}
header .welcome-img .header-content .content-heading-container {
  width: auto;
  font-size: 36px;
}
header .welcome-img .header-content .content-paragraph-container {
  width: 100%;
  font-size: 14px;
  margin-top: 25px;
}
header .welcome-img .header-content .content-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  margin-top: 25px;
}
header .welcome-img .header-content .content-buttons-container .header-button {
  width: 150px;
  margin: 0 5px;
  font-weight: bold;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
}
header .welcome-img .header-content .content-buttons-container .fill {
  border: 2px solid #F1B251;
  background-color: #F1B251;
}
header .welcome-img .header-content .content-buttons-container .empty {
  border: 2px solid black;
  background: transparent;
}

main .boxes-container {
  width: 75%;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  height: 200px;
}
main .boxes-container .content-box {
  width: 25%;
  text-align: center;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
main .boxes-container .content-box i {
  font-size: 50px;
}
main .boxes-container .content-box h3 {
  font-size: 25px;
}
main .boxes-container .content-box p {
  line-height: 23px;
  font-size: 13px;
}
main .main-content-container {
  background-color: #ECECEC;
  height: 600px;
  display: flex;
  align-items: center;
}
main .main-content-container .main-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-content-container .main-content .c-box {
  width: 50%;
  height: 400px;
  margin: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .main-content-container .main-content .c-box img {
  width: 90%;
  display: block;
  height: auto;
  margin: 0 auto;
  position: absolute;
  right: 10px;
}
main .main-content-container .main-content .c-box img:nth-child(1) {
  left: 10px;
}
main .main-content-container .main-content .c-box .cbox-content {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .main-content-container .main-content .c-box .cbox-content h2 {
  font-size: 32px;
}
main .main-content-container .main-content .c-box .cbox-content p {
  font-size: 13px;
  width: 80%;
  line-height: 20px;
  margin: 30px 0;
}
main .main-content-container .main-content .c-box .butnos {
  width: 135px;
  font-weight: bold;
  font-size: 13px;
  height: 40px;
  line-height: 35px;
  background-color: #F1B251;
  text-align: center;
  line-height: 40px;
}
main .main-content-container .main-content .c-box .butnos:nth-child(3) {
  color: #000;
}
main .heading-navic {
  height: 100px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 27px;
  margin-top: 100px;
}
main .main-content-container:nth-child(3) {
  background-color: #fff;
}
main .main-content-container:nth-child(4) {
  background-color: #15161B;
  color: #fff;
}
main .main-content-container:nth-child(6) {
  background-color: #fff;
}
main .coment-section {
  background: #ECECEC;
  display: flex;
  height: 300px;
  align-items: center;
}
main .coment-section .coments {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .coment-section .coments .coment-container {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .coment-section .coments .coment-container img {
  height: 70px;
  border-radius: 50%;
}
main .coment-section .coments .coment-container p {
  margin: 10px 0;
  font-size: 15px;
}
main .work-together {
  background: #15161B;
  color: #fff;
  text-align: center;
  justify-content: center;
  height: 300px;
  display: flex;
  align-items: center;
  padding: 240px 0;
}
main .work-together .together-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
main .work-together .together-container p {
  font-size: 17px;
  margin: 40px 0;
}
main .work-together .together-container h2 {
  font-size: 40px;
}
main .work-together .together-container .butnos {
  width: 135px;
  font-weight: bold;
  font-size: 13px;
  height: 40px;
  line-height: 35px;
  background-color: #F1B251;
  text-align: center;
  line-height: 40px;
  color: #000;
}
main .reply {
  width: 70%;
  background: #ECECEC;
  margin: 0 auto;
  height: 120px;
}
main .reply .reply-con {
  height: 40%;
  margin-left: 40px;
  padding-top: 20px;
}
main .reply .reply-con .must-be {
  margin: 10px 0;
  font-size: 15px;
}

footer {
  background-color: #15171C;
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
}
footer .footer-container {
  width: 70%;
  margin: 0 auto;
}/*# sourceMappingURL=styles.css.map */